* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter, system-ui, Avenir, Helvetica, Arial, sans-serif";
}

.itemsH3 {
    font-family: Inter;
    margin: 0px 10px 10px 15px;
    text-align: center;
    margin-top: 10px;
}

.filtersDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filtersDiv input, .filtersResetBtn {
    padding: 4px;
    border-radius: 3px;
    border: 0.5px solid grey;
    text-align: center;
    background-color: white;
}

.filtersResetBtn {
    width: 185px;
}


.filtersDiv input:focus {
    outline: none
}


img {
    height: 180px;
    width: 200px;
    object-fit: contain;
}

.storeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.container {
    background-color: rgb(255, 255, 255);
    /* border: 2px solid red; */
    /* width: 100vw; */
}

.storeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 400px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

.storeItem p {
    max-width: 350px;
    text-align: center;
}

.topImage {
    display: flex;
    height: 320px;
    background-image: url('../assets/heroimage.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw; */
}

.itemsH3:first-letter {
    text-transform: capitalize;
}

.searchNoItems {
    text-align: center;
}

.loaders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.matchingItems {
    /* opacity: 0; */
    animation: fadein 6s ease-in;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media only screen and (max-width: 400px) { 
    .topImage {
        height: 260px;
    }
}